* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 25px;
    background: #0d1d45;
    color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif, Times, serif;
}

input, button, a {
    cursor: pointer;
}

button {
    padding: 0.1em;
}

h1 {
    line-height: 1.5em;
}

img:not(.logo) {
    width: 300px;
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logoContainer {
    position: absolute;
    right: 25px;
}

.delAllBtn {
    width: fit-content;
    padding: 0.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.delAllIcon {
    margin-right: 3px;
}

.gallery {
    margin-top: 25px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.imgSet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imgSet h3 {
    align-self: center;
}

.linkBtn {
    width: 100%;
    margin: 5px 0 10px 0;
}

.delBtn {
    padding: 0.25em;
}

.delIcon {
    font-size: 120%;
}



.flashOK {
    font-weight: 700;
    width: fit-content;
    margin-bottom: 15px;
    padding: 10px;
    background: green;
}

.flashFail {
    font-weight: 700;
    width: fit-content;
    margin-bottom: 15px;
    padding: 10px;
    background: red;
}



@media screen and (max-width: 1330px) {
    
    .delAllBtn {
        position: static;
        align-self: flex-start;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 815px) {

    h1 {
        font-size: 133%;
    }

    .logoContainer{
        top: 50px;
    }
}

@media screen and (max-width: 740px) {

    .logoContainer {
        width: 25%;
        top: 125px;
    }

    .logoContainer img {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {

    h1 {
        display: none;
    }

    form button {
        margin-top: 7.5px;
    }
}










